<div class="top-bar">
    <a href="#/" class="back"></a>
    <input type="search" ng-model="filter" autofocus="true" placeholder="Entrez le titre d'un film"/>
    <select class="sort" ng-model="model.userSettings.sortMovies" ng-change="saveSortBy()">
        <option value="title">A à Z</option>
        <option value="-title">Z à A</option>
        <option value="-release.releaseDate">Le plus récent</option>
        <option value="release.releaseDate">Le moins récent</option>
        <option value="statistics.rankTopMovie">Le plus populaire</option>
        <option value="-statistics.rankTopMovie">Le moins populaire</option>
    </select>
</div>

<div class="main-container movies">
    <div class="movies-list">
        <a class="movie" ng-href="#/movieDetails/{{movie.code}}" ng-repeat="movie in model.nowShowingMovies | filter:filter | orderBy:model.userSettings.sortMovies" style="background-image: url('{{movie.poster.href | resizePoster:150}}');">
            <div class="title">{{movie.title}}</div>
            <div class="genres">{{movie.genre | formatGenres}}</div>
            <div class="runtime">{{movie.runtime | formatRuntime}}</div>
            <div class="release">{{movie.release.releaseDate | formatRelease}}</div>
        </a>
    </div>
</div>
