<div class="top-bar">
    <a href="#/" class="back"></a>
    <div class="input-container">
        <input
            type="search"
            ng-model="model.searchTheaterText"
            autofocus="true"
            placeholder="Entrer le nom d'un cinéma"
            ng-keypress="onKeyPress($event)"/>
    </div>
    <div class="geolocation-icon" ng-click="geolocationSearch()"></div>
</div>

<div class="main-container theaters">
    <div class="theaters-list">
         <a ng-href="#/showtimes/{{theater.code}}" ng-repeat="theater in model.theaters" class="theater">
            <div class="thumbnail" style="background-image: url('{{theater.picture.href | resizeTheaters:120}}');"></div>
            <div class="details">
                <div class="name">{{theater.name}}</div>
                <div class="adress">
                    {{theater.address}}<br/>
                    {{theater.city}} - {{theater.postalCode}}
                </div>
            </div>
            <div class="clear"></div>
        </a>
    </div>
</div>