.favorite-star{
    float: right;
    font-size: 19px;
    border: 2px solid #FFF;
    line-height: 26px;
    margin: 10px 0;
    width: 26px;
    text-align: center;
    border-radius: 50%;
    font-family: 'robotobold';
}

.days-bar{
    position: fixed;
    top: 50px;
    height: 50px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    background: #FFFFFF;
    padding: 0 20px;
    border-bottom: 1px solid #DDDDDD;
    line-height: 47px;
}

.showtimes {
    top: 100px;
}

.showtimes .movie{
    background: #FFF;
    margin: 0 0 20px 0;
    padding: 10px;
}

.showtimes .movie .details{
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 60px 80px;
    padding: 0 0 0 70px;
    min-height: 80px;
}

.showtimes .movie .title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: 'robotobold';
}

.showtimes .movie .version-container{
    margin: 5px 0 0 0;
}

.showtimes .movie .version-label{
    font-family: 'robotobold';
}

.showtimes .movie .showtime{
    margin: 0 5px 0 0;
}