.showtimes-by-theater .theater{
    padding: 10px 20px;
    border-bottom: 1px solid #DDDDDD;
}

.showtimes-by-theater .theater .theater-details .thumbnail{
    width: 60px;
    float: left;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%
}

.showtimes-by-theater .theater .theater-details .details{
    width: 70%;
    margin: 5px 0 0 5%;
    float: left;
}