<?xml version="1.0" encoding="UTF-8" ?>

    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.planete_cine.my_app"
        versionCode = "11"
        version     = "1.0.2" >

    <name>Planète Ciné</name>

    <description>
        Trouver facilement les horaires des séances des films que vous voulez voir.
    </description>

    <author href="http://www.damienduhamel.fr" email="d.damien@live.fr">
        Damien Duhamel
    </author>

    <content src="index.html" />

    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="22" />

    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />

    <!--
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.vibration" />
    -->

    <!-- default -->
    <icon src="icon.png" />

    <!-- ANDROID -->

    <icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" width="36" height="36" gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" width="48" height="48" gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" width="72" height="72" gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" width="96" height="96" gap:qualifier="xhdpi" />
    <icon src="res/icon/android/icon-144-xxhdpi.png" gap:platform="android" width="144" height="144" gap:qualifier="xxhdpi" />
    <icon src="res/icon/android/icon-192-xxxhdpi.png" gap:platform="android" width="192" height="192" gap:qualifier="xxxhdpi" />

    <gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi"/>
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi"/>
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi"/>
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xxhdpi"/>
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xxxhdpi"/>


    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />

</widget>