<!DOCTYPE html>
<html>
    <head>
        <title>Planète Ciné</title>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'" />
        <link href="main.css" rel="stylesheet"/>
    </head>
    <body ng-controller="mainCtrl">
        <ng-view></ng-view>

        <div class="notifier" ng-if="notifier.isVisible">
            <div class="dialog">
                <icon>×</icon>
                <div class="title">{{notifier.title}}</div>
                <p class="message">{{notifier.message}}</p>
                <button class="buttons retry" ng-click="notifier.onRetry()">Réessayer</button>
                <button class="buttons close" ng-click="notifier.onClose()">Fermer</button>
            </div>
        </div>

        <div class="loader" ng-if="loader.isVisible">
            <div class="vertical-center">
                <div class="spinner">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                </div>
                <div class="message">{{loader.message}}</div>
            </div>
        </div>

        <script src="cordova.js"></script>
        <script src="libs/angular.min.js"></script>
        <script src="libs/angular-route.min.js"></script>
        <script src="libs/moment.min.js"></script>
        <script src="libs/moment.fr.js"></script>
        <script src="main.js"></script>
    </body>
</html>