.movies-list{
    padding: 20px 20px 0 20px;

    .movie{
        display: block;
        color: @darkGrey;
        text-decoration: none;
        background: #FFF;
        margin: 0 0 20px 0;
        box-shadow: 0 3px 6px 0 rgba( 0, 0, 0, 0.20 );

        .details{
            padding: 10px 0 10px 90px;
            min-height: 80px;
            background-size: 75px 100px;
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        .title{
            color: @darkBlue;
            font-size: 14px;
            font-family: 'robotobold';
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .genres{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .runtime{
           margin: 0 0 10px 0;
        }

    }

}