.top-bar{
    position: fixed;
    height: 40px;
    padding: 5px;
    top: 0;
    left: 0;
    right: 0;
    background: @turquoise;
    z-index: 10;
    display: flex;

    .back,
    .geolocation-icon,
    .favorite-star,
    .sort {
        display: block;
        width: 45px;
        line-height: 40px;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .favorite-star{
        color: #FFF;
        font-size: 24px;
        font-weight: 900;
        text-align: center;
        margin: 0 0 0 5px;
    }

    .back{
        background-image: url('assets/arrow-left-white.svg');
        background-size: 20px;
        margin: 0 5px 0 0;
    }

    .geolocation-icon{
        margin: 0 0 0 5px;
        background-image: url('assets/geolocation.svg');
        background-size: 22px;
    }

    .sort{
        color: transparent;
        background-color: transparent;
        background-image: url('assets/sort.svg');
        border: 0;
        background-size: 22px;
        -webkit-appearance: none;
        outline: none;
    }

    input{
        flex-grow: 1;
        border: 0;
        padding: 0 20px;
        background: @turquoise;
        font-size: 16px;
        height: 40px;
        background: #FFF;
        border-radius: 3px;
        color: @darkBlue;

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            -webkit-appearance: none;
        }

        &::-webkit-input-placeholder {
            color: lighten( @turquoise, 30% );
        }
    }

    .title-container{
        flex-grow: 1;
        line-height: 40px;
        font-size: 16px;
        font-family: robotobold;
        color: #FFF;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
