<div class="top-bar">
    Mes cinémas favoris
</div>

<div class="home main-container">

    <div class="theaters-list">
        <a ng-href="/#/showtimes/{{theater.code}}" ng-repeat="theater in model.userSettings.favoriteTheaters" class="theater">
            <div class="thumbnail" style="background-image: url('{{theater.picture.href}}');"></div>
            <div class="details">
                <div class="name">{{theater.name}}</div>
                <div class="adress">
                    {{theater.address}}<br/>
                    {{theater.city}} - {{theater.postalCode}}
                </div>
            </div>
            <div class="clear"></div>
        </a>
    </div>

    <div class="bottom-block">
        <a href="#/theaters" class="button search_theater">Rechercher un cinéma</a>
        <a href="/#/movies" class="button search_movie">Rechercher un film</a>
    </div>

</div>

<loader></loader>