<div class="top-bar">
    <a href="#/home">
        <img src="assets/arrow-left-white.svg" class="back-icon"/>
    </a>
    Rechercher un film
</div>

<div class="search-block movie-search-block">
    <img src="assets/magnifier.svg" class="magnifier-icon" />
    <input type="text" ng-model="model.search.title" placeholder="Rechercher le titre d'un film" autofocus="true"/>
</div>

<div class="movies main-container">

    <div class="movies-list">
        <a class="movie" ng-href="#/showtimesByTheater/{{movie.code}}" ng-repeat="movie in model.nowShowingMovies | filter:model.search" ng-click="model.currentMovie = movie">

            <div class="details" style="background-image: url('{{movie.poster.href}}');">
                <div class="title">{{movie.title}}</div>
                <div class="genres">{{movie.genre | formatGenres}}</div>
                <div class="runtime">{{movie.runtime | formatRuntime}}</div>
                <div class="release">{{movie.release.releaseDate | formatRelease}}</div>
                <div class="clear"></div>
            </div>

        </a>
    </div>

</div>

<loader></loader>