<div class="top-bar">
    {{model.currentTheater.name}}
        <span class="favorite-star" ng-click="isFavoriteTheater() ? removeFromFavoriteTheaters() : addInFavoriteTheaters()">
            {{isFavoriteTheater() ? '★' : '☆'}}
        </span>
</div>

<div class="days-bar">
    <span ng-if="model.currentDay > 0" ng-click="prevDay()" class="arrows left"> < </span>
    {{model.showtimesDays[model.currentDay] | formatDay}}
    <span ng-if="model.currentDay < model.showtimesDays.length - 1" ng-click="nextDay()" class="arrows right"> > </span>
</div>

<div class="showtimes main-container movies-list">
    <div ng-repeat="(title,movie) in model.moviesShowtimesForATheater[ model.showtimesDays[model.currentDay] ]" class="movie">

        <div class="details" style="background-image: url('{{movie.thumbnail}}');">
            <div class="title">{{title}}</div>
            <div class="runtime">{{movie.runtime | formatRuntime}}</div>
            <div class="clear"></div>
            <div class="showtimes-list">
                <div ng-repeat="(version, showtimes) in movie.showtimes" class="version-container">
                    <span class="version-label">{{version}}</span> : <span ng-repeat="hour in showtimes" class="showtime">{{hour.$}}</span>
                </div>
            </div>
        </div>

    </div>

</div>

<!--
        <div class="genres">
            <span ng-repeat="genre in movie.genres" class="genre">{{genre.$}}</span>
        </div>

        <div class="realisator">Réalisateur : {{movie.casting.directors}}</div>
        <div class="actors">Acteurs : {{movie.casting.actors}}</div>

        <div class="release-and-ratings">
            <div class="ratings">
                <div class="press-ratings">
                    Presse [{{movie.ratings.pressReviewCount}} avis] : <span class="stars">{{movie.ratings.pressRating | formatRating}}</span>
                </div>
                <div class="users-ratings">
                    Spectateurs [{{movie.ratings.userRatingCount}} avis] : <span class="stars">{{movie.ratings.userRating | formatRating}}</span>
                </div>
            </div>
            <div class="release">{{movie.release | formatRelease}}</div>
        </div>

-->

<loader></loader>