<div class="top-bar">
    <a href="#/theaters">
        <img src="assets/arrow-left-white.svg" class="back-icon"/>
    </a>
    {{model.currentTheater.name}}
    <span class="favorite-star" ng-click="isFavoriteTheater() ? removeFromFavoriteTheaters() : addInFavoriteTheaters()">
        {{isFavoriteTheater() ? '★' : '☆'}}
    </span>
</div>

<div class="days-bar">
    <img src="assets/arrow-left-green.svg" ng-if="model.currentDay > 0" ng-click="prevDay()" class="arrows left"/>
    {{model.showtimesDays[model.currentDay] | formatDay}}
    <img src="assets/arrow-right-green.svg" ng-if="model.currentDay < model.showtimesDays.length - 1" ng-click="nextDay()" class="arrows right"/>
</div>

<div class="showtimes main-container movies-list">
    <a ng-repeat="(title,movie) in model.moviesShowtimesForATheater[ model.showtimesDays[model.currentDay] ]" class="movie" ng-click="onMovieClick(movie)" ng-href="#/movieDetails">
        <div class="details" style="background-image: url('{{movie.thumbnail}}');">
            <div class="title">{{title}}</div>
            <div class="runtime">{{movie.runtime | formatRuntime}}</div>
            <div class="clear"></div>
            <div class="showtimes-list">
                <div ng-repeat="(version, showtimes) in movie.showtimes" class="version-container">
                    <span class="version-label">{{version}}</span> : <span ng-repeat="hour in showtimes" class="showtime">{{hour.$}}</span>
                </div>
            </div>
        </div>
    </a>
</div>

<loader></loader>