<div class="top-bar">
    {{model.currentTheater.name}}
        <span class="favorite-star" ng-click="isFavoriteTheater() ? removeFromFavoriteTheaters() : addInFavoriteTheaters()">
            {{isFavoriteTheater() ? '★' : '☆'}}
        </span>
</div>

<div class="days-bar">
    <span ng-repeat="(day,movies) in model.moviesShowtimesForATheater" ng-click="model.currentDay = day">{{day | formatDay}}</span>
</div>

<div class="showtimes main-container">
    <div ng-repeat="(title,movie) in model.moviesShowtimesForATheater[ model.currentDay ]" class="movie">

        <div class="details" style="background-image: url('{{movie.thumbnail}}');">
            <div class="title">{{title}}</div>
            <div class="genres">
                <span ng-repeat="genre in movie.genres" class="genre">{{genre.$}}</span>
            </div>
            <div class="runtime">{{movie.runtime | formatRuntime}}</div>
            <div class="clear"></div>
            <div class="realisator">Réalisateur : {{movie.casting.directors}}</div>
            <div class="actors">Acteurs : {{movie.casting.actors}}</div>
        </div>

        <div class="release-and-ratings">
            <div class="ratings">
                <div class="press-ratings">
                    Presse [{{movie.ratings.pressReviewCount}} avis] : <span class="stars">{{movie.ratings.pressRating | formatRating}}</span>
                </div>
                <div class="users-ratings">
                    Spectateurs [{{movie.ratings.userRatingCount}} avis] : <span class="stars">{{movie.ratings.userRating | formatRating}}</span>
                </div>
            </div>
            <div class="release">{{movie.release | formatRelease}}</div>
        </div>

        <div ng-repeat="(version, showtimes) in movie.showtimes" class="version-container">
            <span class="version-label">{{version}}</span>
            <span ng-repeat="hour in showtimes" class="showtime">{{hour.$}}</span>
        </div>

    </div>

</div>

<loader></loader>